# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.12
  hooks:
    # Run the linter.
    - id: ruff
      exclude: ^(src/tagpack/|src/tagstore/|clients/)
    # Run the formatter.
    - id: ruff-format
      exclude: ^(src/tagpack/|src/tagstore/|clients/)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^clients/
    -   id: end-of-file-fixer
        exclude: ^clients/
    -
        id: check-yaml
        exclude: tests/testfiles
    -   id: check-added-large-files
        args: ['--maxkb=4096']
        exclude: |
            (?x)^(
                uv.lock
            )$
    -
        id: name-tests-test
        args: [--pytest-test-first]
        exclude: (helpers\.py|tests/web/)
    -
        id: debug-statements
        exclude: postmortemdebug.py
    -   id: check-docstring-first
        exclude: ^clients/
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.7.1
  hooks:
    # Update the uv lockfile
    - id: uv-lock
-   repo: local
    hooks:
    -   id: update-api-version
        name: Sync API version from Makefile to version.py
        entry: make update-api-version
        language: system
        pass_filenames: false
        always_run: true
    -   id: codegen
        name: Ensure Generated Code is up to date
        entry: make run-codegen
        language: system
        pass_filenames: false
        always_run: true
    -   id: ensure-env
        name: Ensure UV environment is ready
        entry: uv sync --dev --all-packages --all-extras
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit, pre-push]
    -   id: pytest-check
        name: pytest-check
        entry: make test
        language: system
        pass_filenames: false
        always_run: true
    -   id: type-check
        name: type-check
        entry: make type-check
        language: system
        pass_filenames: false
        always_run: true
    -   id: package-ui
        name: Build & Package Admin UI
        entry: make package-ui
        language: system
        pass_filenames: false
        always_run: true
