name: Unit Tests and Build

on:
  push:
    branches:
      - master
      - develop

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: fix openssl legacy mode
        run: sudo sed -i '/^default = default_sect/a legacy = legacy_sect' /etc/ssl/openssl.cnf &&  sudo sed -i 's/#openssl_conf/openssl_conf/g' /etc/ssl/openssl.cnf && sudo sed -i '/^\[default_sect\]/a activate = 1\n\[legacy_sect\]\nactivate = 1' /etc/ssl/openssl.cnf
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: Install requirements
        run: uv sync --python=${{ matrix.python }}
      - name: Run Unit Tests
        run: make test-ci
      - name: Run Unit Tests with base dependencies
        run: make test-with-base-dependencies-ci
      - name: Run Lint
        run: make lint
      - name: Run type check
        run: make type-check
      - name: Build wheel
        run: make build
